{% extends 'base.html' %}
{% block head %}
        <title>ConnectART | Login</title>
        <style>
                * {
                        box-sizing: border-box;
                }
                body {
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 30px;
                        font-weight: 170;
                        color: whitesmoke;
                        background-color: #343E47;
                }
                #logo {
                        color: white;
                        padding: 5px;
                        text-align: center;
                        margin-bottom: 10px;
                        margin: 1px;
                        left: center;
                        right: center;
                        position: relative;
                        top: 0;
                }
                .relative .absolute .form-group {
                        padding-bottom: 10px;
                        padding-top: 10px;
                }
                .relative .absolute .form-group h2 {
                        padding-bottom: 10px;
                        padding-top: 10px;
                }
                .relative .absolute .form-group input {
                        padding: 10px;
                        width: 100%;
                        color:aqua;
                }
                .relative .absolute .form-group label{
                        display:blocks;
                }
                .box{
                        width: 80%;
                        margin: auto;
                }
                .relative {
                        position: relative;
                        background-color: #343E47;
                        border: 3px solid white;
                        text-align: 100px;
                        height: 300px;
                        padding: 50px;
                        border-radius: 20px;
                }
                .relative .absolute {
                        position: absolute;
                        bottom: 0;
                }
                .relative .absolute h4 {
                        margin: 0;
                }
                .relative .absolute .button {
                        background: #D2785B;
                        color: #eee;
                        border-radius: 10px;
                        padding: 15px;
                        position: relative;
                        bottom: 10px;
                        right: -320px;
                        left: center;
                        margin: 10px;
                        margin-left: center;
                        margin-right: center;
                        border: none;
                }
                .relative .absolute h3 {
                        background: white;
                        color: #343E47;
                        text-align: center;
                        border-radius: 10px;
                        position: relative;
                        bottom: 10px;
                        right: 8px;
                        left: 10px;
                        margin: 10px;
                        border: none;
                        block-size: 40px;
                }
                .relative .absolute .nome {
                        background: white;
                        color: #eee;
                        border-radius: 10px;
                        position: relative;
                        bottom: 10px;
                        right: center;
                        left: center;
                        margin: 10px;
                        border: none;
                }
                .relative .absolute .senha {
                        background: white;
                        color: #eee;
                        border-radius: 10px;
                        position: relative;
                        bottom: 10px;
                        right: center;
                        left: center;
                        margin: 10px;
                        border: none;
                        
                }
                .main-footer ul a:hover {
                        color: white;
                }
                .main-footer ul a:visited {
                        color: #D2785B;
                }
                .main-footer ul {
                        list-style: none;
                        text-align: center;
                }
                .main-footer a {
                        text-decoration:dashed;
                        color: #D2785B;
                }
        </style>
{% endblock %}
        {% block body %}
                <nav id="logo">
                  {% load static %}
                  <h1><img src="{% static 'images/logo.png' %}" alt="logo"  width="400" heigh="100" /></h1>
                </nav>
        </div>
        
        <div class="box relative">
                <div class="absolute">
                        <h4>
                                <div class="box">
                                        <form action="/login/submit" method="POST"> {% csrf_token %}
                                                <div class="form-group"> 
                                                        <h3>Login</h3>
                                                       
                                                        <label>Username:</label>
                                                        <input class="nome"type="text" name="username" placeholder="Username">
                                                        <label>Password:</label>
                                                        <input class="senha" type="password" name="password" minlength="8" placeholder="Password">
                                                        
                                                        <button class="button" name="submitBtn" type="submit"> <h4>Login</h4></button>
                                                        
                                                </div>
                        
                                        </form>
                                </div>
                        </h4>
                </div>
        </div>

        <footer class="main-footer">
                <aside>
                        <ul>
                                <li><a href="/register">Create an account</a></li>
                                {% for message in messages %}
                                  <p><strong>{{ message }}</strong></p>
                                {% endfor %}
                                
                        </ul>
                </aside>
        </footer>
{% endblock %}