{% extends 'base.html' %}

{% block head %} 
<title>ConnectART | Criar conta</title>
{% endblock %}

{% block body %}

<form action="/register/submit" method="POST"> {% csrf_token %}
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="E-mail" pattern="+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/">
  <input type="password" name="password" minlength="8" placeholder="Senha">
  <input type="password" name="confirmPassw" minlength="8" placeholder="Confirme a senha">
  <br>
  <button name="submitBtn" type="submit">Registrar</button>
</form>

<a href="/login/">Faça login se já tiver uma conta.</a>

{% for message in messages %}
  <p><strong>{{ message }}</strong></p>
{% endfor %}

{% endblock %}